* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1.5;
  text-decoration: none;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.social {
  position: absolute;
  bottom: 4em;
  right: 0.6em;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: baseline;
}
.social a {
  color: #353535;
  transition: all 0.3s ease;
}
.social a:hover {
  color: #3c6e71;
  transform: rotate(45deg);
}
.social a:active {
  opacity: 0.8;
}
@media only screen and (min-width: 920px) {
  .social {
    font-size: 1.8em;
  }
}

.hero-content {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content .img-wrap {
  width: 100%;
  height: 35%;
}
.hero-content .img-wrap img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 250px;
  border: 3px solid black;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-content {
    padding-left: 3.3em;
  }
}
@media only screen and (min-width: 920px) {
  .hero-content {
    max-width: 100%;
    padding-left: 4.5em;
  }
}

.heading {
  margin-top: 0.5em;
}
.heading h1 a {
  font-size: 1.5em;
  color: #353535;
  max-width: 15ch;
  letter-spacing: -2px;
}

.para {
  max-width: 30ch;
  font-size: 14px;
  color: rgb(107, 107, 107);
  line-height: 1.6;
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 920px) {
  .para {
    max-width: 50ch;
  }
}

.hero-button a {
  background-color: #353535;
  color: #ffffff;
  padding: 10px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.hero-button a:hover {
  background-color: #3c6e71;
}
.hero-button a:active {
  opacity: 0.9;
}

.about {
  margin-top: 5em;
}
.about h1 {
  text-align: center;
  font-size: 2em;
  color: #353535;
}
.about-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
@media only screen and (min-width: 768px) {
  .about-wrap {
    flex-direction: row;
    padding: 3rem;
  }
}

.detail-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .detail-grid {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.card {
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.74);
}
.card i::before {
  font-size: 3em;
}
.card:hover {
  transform: scale(0.8);
  background-color: #3c6e71;
}

.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}

.certificates {
  text-align: center;
  width: 100%;
}
.certificates .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.certificates .about-container .cert-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 3.5em;
}
.certificates .about-container .cert-1 .img-wrap {
  max-width: 100%;
}
.certificates .about-container .cert-1 .img-wrap img {
  max-width: 100%;
}
.certificates .about-container .cert-1 p {
  max-width: 50ch;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  .certificates .about-container .cert-1 {
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  .certificates .about-container .cert-2 {
    flex-direction: row-reverse;
  }
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}
.navbar .nav-brand {
  display: flex;
  justify-content: flex-start;
  padding: 0 1em;
}
.navbar .nav-brand img {
  width: 20%;
  filter: drop-shadow(2px 2px 3.5px rgba(155, 153, 153, 0.24));
}
@media only screen and (min-width: 920px) {
  .navbar .nav-brand {
    justify-content: flex-end;
  }
}
.navbar .nav-toggler i {
  padding-right: 10px;
}
.navbar .nav-toggler i::before {
  color: #353535;
  font-size: xx-large;
}
.navbar .nav-toggler:hover {
  transform: scale(0.8);
}
@media only screen and (min-width: 920px) {
  .navbar .nav-toggler {
    display: none;
  }
}
.navbar .open {
  transform: translateX(0);
}
@media only screen and (min-width: 920px) {
  .navbar {
    flex-direction: row-reverse;
    padding: 0 1em;
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #353535;
  width: 80%;
  z-index: 999;
  display: flex;
  justify-content: start;
  gap: 3em;
  flex-direction: column;
  list-style-type: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.nav-menu .hide {
  color: #ffffff;
  font-size: 1.8em;
  padding: 10px;
}
.nav-menu .hide i:hover {
  transform: scale(1.8em);
  color: #3c6e71;
  transform: rotate(45deg);
}
.nav-menu .hide i:active {
  opacity: 0.8;
}
@media only screen and (min-width: 920px) {
  .nav-menu .hide {
    display: none;
  }
}
.nav-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav-menu ul li {
  padding: 1em;
  transition: background-color 0.2s ease, color 0.15s ease;
}
.nav-menu ul li:hover {
  background-color: #3c6e71;
}
.nav-menu ul li a {
  color: #ffffff;
  align-self: center;
}
@media only screen and (min-width: 920px) {
  .nav-menu ul li {
    padding: 0;
  }
  .nav-menu ul li:hover {
    background-color: white;
  }
  .nav-menu ul li a {
    color: #353535;
    padding: 1em;
    transition: all 0.2s ease-in-out;
    border-left: 2px solid white;
  }
  .nav-menu ul li a:hover, .nav-menu ul li a.active {
    background-color: #3c6e71;
    color: #ffffff;
  }
}
@media only screen and (min-width: 920px) {
  .nav-menu ul {
    flex-direction: row;
  }
}
@media only screen and (min-width: 920px) {
  .nav-menu {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    justify-content: initial;
    transform: initial;
    transition: initial;
  }
}

footer {
  background-color: #353535;
  color: #ffffff;
}
footer a {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .group {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 1rem 5rem 5rem 5rem;
  }
  .group .list {
    display: flex;
    flex-direction: column;
  }
}

.horizontal-line {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #353535;
  display: flex;
  justify-content: center;
}
.horizontal-line .divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.horizontal-line .divider svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 30px;
  transform: rotateY(180deg);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .horizontal-line .divider svg {
    width: calc(116% + 1.3px);
    height: 25px;
  }
}
.horizontal-line .divider .shape-fill {
  fill: #353535;
}