* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1.5;
  text-decoration: none;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.about {
  margin-top: 5em;
}
.about h1 {
  text-align: center;
  font-size: 3em;
  color: #353535;
}
.about-wrap {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 5em auto;
  border: 3px solid rgba(148, 148, 148, 0.089);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.096);
  gap: 3em;
  padding: 3em;
}
@media only screen and (min-width: 768px) {
  .about-wrap {
    flex-direction: row;
  }
}
.about-wrap .detail-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  gap: 0.3em;
}
.about-wrap .detail-grid .card {
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.315);
  background: url(../../images/Sprinkle.svg);
  background-size: cover;
}
.about-wrap .detail-grid .card i::before {
  font-size: 3em;
}
.about-wrap .detail-grid .card:hover {
  transform: scale(0.8);
}
@media only screen and (min-width: 768px) {
  .about-wrap .detail-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.about-wrap .detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}

.services {
  height: 100vh;
}

.certificates {
  text-align: center;
  width: 100%;
}
.certificates h1 {
  font-size: 3em;
  margin: 2.5em 0;
}
.certificates .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.certificates .about-container .cert-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 3.5em;
}
.certificates .about-container .cert-1 .img-wrap {
  max-width: 100%;
}
.certificates .about-container .cert-1 .img-wrap img {
  max-width: 100%;
}
.certificates .about-container .cert-1 p {
  max-width: 50ch;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  .certificates .about-container .cert-1 {
    flex-direction: row;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
}
.navbar .nav-brand {
  width: 150px;
  height: 100px;
  background: url("../../images/logo-bg.webp") no-repeat center center/cover;
  transition: all 0.5s ease-in-out;
}
.navbar .nav-brand img {
  max-width: 100%;
  height: auto;
}
.navbar .nav-brand:hover {
  transform: rotate(360deg);
}
.navbar .nav-toggler i {
  padding-right: 10px;
}
.navbar .nav-toggler i::before {
  color: #353535;
  font-size: xx-large;
}
.navbar .nav-toggler:hover {
  transform: scale(0.8);
}
@media only screen and (min-width: 920px) {
  .navbar .nav-toggler {
    display: none;
  }
}
.navbar .open {
  transform: translateX(0);
}
@media only screen and (min-width: 920px) {
  .navbar {
    padding: 1em 3em 0em;
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #353535;
  width: 80%;
  z-index: 999;
  display: flex;
  justify-content: start;
  gap: 3em;
  flex-direction: column;
  list-style-type: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.nav-menu .hide {
  color: #ffffff;
  font-size: 1.8em;
  padding: 10px;
}
.nav-menu .hide i:hover {
  transform: scale(1.8em);
  color: #3c6e71;
  transform: rotate(45deg);
}
.nav-menu .hide i:active {
  opacity: 0.8;
}
@media only screen and (min-width: 920px) {
  .nav-menu .hide {
    display: none;
  }
}
.nav-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav-menu ul li {
  padding: 1em;
  transition: background-color 0.2s ease, color 0.15s ease;
}
.nav-menu ul li:hover {
  background-color: #3c6e71;
}
.nav-menu ul li a {
  color: #ffffff;
  align-self: center;
}
@media only screen and (min-width: 920px) {
  .nav-menu ul li {
    padding: 0;
  }
  .nav-menu ul li:hover {
    background-color: white;
  }
  .nav-menu ul li a {
    color: #353535;
    padding: 1em;
    transition: all 0.2s ease-in-out;
    border-left: 2px solid white;
  }
  .nav-menu ul li a:hover, .nav-menu ul li a.active {
    background-color: #3c6e71;
    color: #ffffff;
  }
}
@media only screen and (min-width: 920px) {
  .nav-menu ul {
    flex-direction: row;
  }
}
@media only screen and (min-width: 920px) {
  .nav-menu {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    justify-content: initial;
    transform: initial;
    transition: initial;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .group {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer .group .list {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  color: #ffffff;
}
footer .group .list a {
  color: #ffffff;
  opacity: 0.8;
}
footer .group .contact-form {
  align-self: center;
}
footer .group .contact-form form input {
  max-width: fit-content;
}
footer .group .contact-form h3 {
  color: #ffffff;
}
footer hr {
  border-color: rgba(128, 128, 128, 0.671);
}
footer p {
  text-align: center;
  padding: 5px;
  color: #ffffff;
}

.horizontal-line {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #353535;
  display: flex;
  justify-content: center;
}
.horizontal-line .divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.horizontal-line .divider svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 30px;
  transform: rotateY(180deg);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .horizontal-line .divider svg {
    width: calc(116% + 1.3px);
    height: 25px;
  }
}
.horizontal-line .divider .shape-fill {
  fill: #353535;
}

.hero {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8em;
  position: relative;
}
.hero #particles-js {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 3em;
  background-color: #ffffff;
  z-index: -1;
}
.hero .social {
  position: absolute;
  bottom: 1em;
  right: 0.6em;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: baseline;
}
.hero .social a {
  color: #353535;
  transition: all 0.3s ease;
}
.hero .social a:hover {
  color: #3c6e71;
  transform: rotate(45deg);
}
.hero .social a:active {
  opacity: 0.8;
}
@media only screen and (min-width: 920px) {
  .hero .social {
    font-size: 1.8em;
  }
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
  padding-left: 1em;
}
.hero .hero-content .img-wrap {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.hero .hero-content .img-wrap img {
  height: auto;
  width: 100%;
  border-radius: 100%;
  max-width: 100%;
  border: 4px solid #353535;
}
@media only screen and (min-width: 525px) {
  .hero .hero-content .img-wrap {
    width: 30%;
  }
}
@media only screen and (min-width: 920px) {
  .hero .hero-content .img-wrap {
    width: 50%;
  }
}
.hero .hero-content .heading h1 a {
  font-size: 1.5em;
  color: #353535;
  max-width: 15ch;
  letter-spacing: -2px;
}
.hero .hero-content .para {
  max-width: 30ch;
  font-size: 14px;
  color: rgb(107, 107, 107);
  line-height: 1.6;
  margin-bottom: 1.5em;
}
@media only screen and (min-width: 920px) {
  .hero .hero-content .para {
    max-width: 50ch;
  }
}
.hero .hero-content .hero-button a {
  background-color: #353535;
  color: #ffffff;
  padding: 10px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.hero .hero-content .hero-button a:hover {
  background-color: #3c6e71;
}
.hero .hero-content .hero-button a:active {
  opacity: 0.9;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero .hero-content {
    padding-left: 3.3em;
  }
}
@media only screen and (min-width: 920px) {
  .hero .hero-content {
    max-width: 50%;
    padding-left: 4.5em;
  }
}