body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.heading {
  background: url("Laptop.svg") center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Laptop.svg") center/cover;
  height: 100vh;
}
.menu-icon,
.close-button {
  display: none;
}
.name {
  padding-left: 5em;
  font-size: 2em;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav-links,
li,
a {
  list-style-type: none;
  display: block;
  color: white;
  display: inline-block;
  padding-right: 1.5em;
  text-decoration: none;
  transition: all 0.4s;
}
li,
a:hover {
  color: rgb(33, 194, 87);
  transform: scale(1.1);
}
.panel {
  padding: 3em 2em;
}
.my-name {
  color: rgba(4, 28, 29, 0.562);
  font-weight: bold;
  font-size: 3em;
  margin: 0.5em auto;
  padding-right: 2.5em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
/* Heading */
.hero-section {
  color: #fff;
  text-align: center;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  max-width: 90%;
  margin: 13em auto;
}
.hero-section p {
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 5em;
  line-height: 2em;
  width: 80%;
}
.cta-button {
  display: inline-block;
  background-color: rgb(5, 5, 5, 0.5);
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  border: 1px white solid;
  transition: background-color 0.5s;
  font-weight: 600;
}
.cta-button:hover {
  background-color: rgba(33, 194, 87, 0.5);
  color: rgb(19, 17, 17);
  border-color: black;
}
.cta-button:active {
  opacity: 0.8;
}
/* About Me */
.about-me-section {
  display: flex;
  background: #f4f4f4;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10em 0;
}
.profile-picture {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
}
.bio {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  width: auto;
  padding-left: 1.5em;
  align-items: center;
}
.skills {
  margin-top: 2em;
  font-size: 1em;
  color: #666;
}
/* Carousel */
.projects-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: rgba(4, 28, 29, 0.562);
}
.projects-section h2 {
  font-size: 3em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 3em;
  padding: 2em;
}
/* Testimonials */
.testimonials-section {
  text-align: center;
  padding: 80px 20px;
  background: #f4f4f4;
  margin-bottom: 0.3em;
}
.testimonial {
  margin-bottom: 30px;
}
.testimonial p {
  font-size: 18px;
  color: #333;
}
.recommendation {
  font-size: 16px;
  color: #666;
  font-style: italic;
}
/* Contact Form */
.contact-section {
  text-align: center;
  padding: 80px 20px;
  background: #20b46f;
}
.contact-form {
  max-width: 300px;
  margin: 0 auto;
}
.contact-section h2 {
  margin-bottom: 1.3em;
}
.contact-button {
  display: inline-block;
  background-color: rgb(81, 211, 172);
  padding: 1em 2em;
  text-decoration: none;
  font-size: 1.2;
  border-radius: 5px;
  font-weight: 600;
}
.contact-button:hover {
  opacity: 0.8;
}
.form-group {
  margin-bottom: 20px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.social-links {
  margin-top: 30px;
}
.social-links a {
  display: inline-block;
  margin: 0 15px;
  font-size: 24px;
  color: #333;
}
.contact-info {
  margin-top: 30px;
  font-size: 18px;
}
.contact-info a {
  color: black;
  transition: color 0.15s;
}
.contact-info a:hover {
  color: rgb(212, 205, 205);
}
/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nav {
  margin-bottom: 20px;
}
.footer-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
.footer-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.footer-buttons button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.footer-buttons:not(.hide-button) {
  opacity: 1;
  pointer-events: auto;
}
.footer-copyright {
  font-size: 14px;
}
@media (max-width: 768px) {
  .name {
    font-size: 2em;
    padding-left: 1em;
  }
  .menu-icon,
  .close-button {
    display: block;
  }
  .menu-bar {
    color: #fff;
    padding: 2em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8em;
  }
  .menu-icon {
    transition: opacity 0.15s;
    display: block;
    font-size: 1.5em;
  }
  .menu-bar:active .menu-icon {
    opacity: 0.8;
  }
  .panel {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: #444;
    padding-top: 60px;
    transition: right 0.6s ease;
    z-index: 999;
  }
  .panel-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(
      255,
      255,
      255,
      0.315
    ); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    z-index: 998;
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .close-button {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 2em;
    cursor: pointer;
    color: white;
    transition: color 0.15s;
  }
  .close-button:hover {
    opacity: 0.7;
  }
  .close-button:active {
    color: #863232;
  }
  li {
    font-size: 1.2em;
    display: block;
    padding: 1.5em 3em;
  }
  li:hover {
    background-color: rgba(255, 255, 255, 0.185);
  }
  .hero-section {
    margin-top: 10em;
  }
  .hero-section h1 {
    margin-top: 0.5em;
    font-size: 1.8em;
  }
  .hero-section p {
    margin-top: 1em;
    font-size: 0.7em;
  }
  .profile-picture {
    width: 15em;
    height: 15em;
  }
  .my-name {
    font-size: 1.5em;
    padding-right: 0;
  }
  .about-me-section {
    flex-direction: column;
    padding-bottom: 2em;
  }
  .about-me-section p {
    font-size: 0.7em;
    text-align: center;
  }
  .bio {
    padding: 0 0.5em;
    max-width: 26ch;
  }
  .projects-section h2 {
    font-size: 2em;
    padding: 2em;
  }
  .contact-section {
    padding-top: 3em;
  }
  .contact-info {
    margin: 1em;
  }
  .footer-nav {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .footer-nav a {
    margin: 10px 0;
    font-size: 0.9em;
  }
  .footer-buttons {
    bottom: 40px;
    right: 35px;
  }
  .footer-buttons button {
    width: 25px;
    height: 25px;
  }
}
