@use "../abstracts/" as *;
.about {
 margin-top: 5em;
 h1 {
  text-align: center;
  font-size: 2em;
  color: $primary;
 }
 &-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  @include min-break(768px) {
   flex-direction: row;
   padding: 3rem;
  }
 }
}
.detail-grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 width: 100%;
 @include min-break(768px) {
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
 }
}
.card {
 display: grid;
 place-items: center;
 transition: all 0.3s ease-in-out;
 box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.74);
 i::before {
  font-size: 3em;
 }
 &:hover {
  transform: scale(0.8);
  background-color: $accent;
  color: $neutral;
 }
}
.detail {
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 padding: 1.5em;
}
