@use "../abstracts/" as *;

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $neutral;

  .nav-brand {
    display: flex;
    justify-content: flex-start;
    padding: 0 1em;

    img {
      width: 20%;
      filter: drop-shadow(2px 2px 3.5px rgba(155, 153, 153, 0.24));
    }
    @include min-break(920px) {
      justify-content: flex-end;
    }
  }
  .nav-toggler {
    i {
      padding-right: 10px;
    }

    i::before {
      color: $primary;
      font-size: xx-large;
    }

    &:hover {
      transform: scale(0.8);
    }

    @include min-break(920px) {
      display: none;
    }
  }
  .open {
    transform: translateX(0);
  }
  @include min-break(920px) {
    flex-direction: row-reverse;
    padding: 0 1em;
  }
}
.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: $primary;
  width: 80%;
  z-index: 999;
  display: flex;
  justify-content: start;
  gap: 3em;
  flex-direction: column;
  list-style-type: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  .hide {
    color: $neutral;
    font-size: 1.8em;
    padding: 10px;

    i {
      &:hover {
        transform: scale(1.8em);
        color: $accent;
        transform: rotate(45deg);
      }

      &:active {
        opacity: 0.8;
      }
    }

    @include min-break(920px) {
      display: none;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    li {
      padding: 1em;
      transition: background-color 0.2s ease, color 0.15s ease;

      &:hover {
        background-color: $accent;
      }

      a {
        color: $neutral;
        align-self: center;
      }

      @include min-break(920px) {
        padding: 0;

        &:hover {
          background-color: white;
        }

        a {
          color: $primary;
          padding: 1em;
          transition: all 0.2s ease-in-out;
          border-left: 2px solid white;

          &:hover,
          &.active {
            background-color: $accent;
            color: $neutral;
          }
        }
      }
    }

    @include min-break(920px) {
      flex-direction: row;
    }
  }

  @include min-break(920px) {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    justify-content: initial;
    transform: initial;
    transition: initial;
  }
}
